/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Define custom CSS variables */
:root {
    --font-heading: #ffffff;
    --para-font: #777777;
    --black: #131313;
    --bg: #ac1010;
    --white: #fff;
}

/* Apply some common styles to all elements */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    width: auto;
}

/* Set font size and other styles for the HTML element */
html {
    font-size: 62.5%; 
    overflow-x: hidden; /* Hides horizontal scrollbar */
    scroll-behavior: smooth; /* Smooth scrolling */
    scroll-padding-top: 9rem; /* Adds padding to top of page when scrolling */
}

/* Apply some styles to the #homeimg element */
#homeimg {
    width: 100%;
    height: 100vh;
    background: url(img/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Apply some styles to all section elements */
section {
    padding: 8rem 7%;
}

/* Apply some styles to the nav element */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    margin-bottom: 13rem;
}

/* Apply some styles to the logo element */
.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

/* Apply some styles to the logo span element */
.logo span {
    color: var(--bg);
}

/* Apply som styles to logo when being hovered */
.logo:hover {
    color: var(--black);
    background-color: var(--white);
    font-size: 4rem;
    border-radius: 0.2em;
    transition: all linear 0.6s;
}

/* Apply some styles to the nav links */
nav .links a {
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
}

/* Apply some styles to the nav links after being hovered */
nav .links a:after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--bg);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s;
}

/* Apply some styles to the nav links after being hovered */
nav .links a:hover::after {
    width: 100%;
}

/* Apply some styles to the menu button and close button */
nav #menu-btn,
nav #close {
    color: var(--white);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

/* Apply some styles to the .header .content element */
.header .content {
    padding: 150px 7%;
    color: var(--white);
}

/* Apply some styles to the .header .content h3 element */
.header .content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3rem 0;
}

/* The following styles apply to the h1 element inside a content element within a header element */
.header .content h1 {
    font-size: 4.5rem; 
    letter-spacing: 2px; 
}

/* The following styles apply to the p element inside a content element within a header element */
.header .content p {
    font-size: 1.3rem; 
    line-height: 1.8;; 
    padding: 2rem 0; 
}

/* The following styles apply to elements with the class 'btn' */
.btn {
    padding: 1.3rem 5rem; 
    margin: 3rem 0; 
    cursor: pointer; /* Change cursor to pointer */
    color: var(--black); 
    background: var(--white);
    font-size: 1.4rem; 
    font-weight: 500; 
    border-radius: 7px; 
    transition: all linear 0.5s; /* Add transition for all properties with linear timing function over a duration of 0.5s */
}

/* The following styles apply when hovering over an element with the class 'btn' */
.btn:hover {
    background: var(--black); 
    color: var(--white); 
    font-size: 2rem;
    transform: translate(0px, -3px); /* Move the element 3px up using translate() transform */
}

.shop-btn {
   display: flex;
margin-left: auto;
margin-right: auto;
border: none;
box-shadow: 0px 0px 10px 0px rgb(195, 193, 193); /* Add box-shadow */
}

/* Applies to elements with the class 'nav-change' */
.nav-change {
    background: rgba(0, 0, 0, 0.9); 
}

/* Applies to elements with the class 'container' inside an element with the class 'about' */
.about .container {
    display: flex; 
    justify-content: space-between; 
    padding-top: 8%; 
}

/* The following styles apply to elements with the class 'image' inside an element with the class 'container' inside an element with the class 'about' */
.about .container .image {
    flex-basis: 50%; 
    background: url(./img/about.jpeg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 16rem 0; 
    border-radius: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 0px 10px 0px rgb(195, 193, 193); /* Add box-shadow */
}


/* This applies to the "about" section */
.about .container .about-content {
    flex-basis: 40%; /* sets the width of the content container to 40% of the parent container */
}

.about .container .about-content h1 {
    font-size: 4rem; 
    color: var(--font-heading); 
    padding: 1rem 0; /* adds 1rem of padding to the top and bottom of the h1 element */
}