/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Define custom CSS variables */
:root {
    --font-heading: #ffffff;
    --para-font: #777777;
    --black: #131313;
    --bg: #ac1010;
    --white: #fff;
}

/* Apply some common styles to all elements */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    width: auto;
}

/* Set font size and other styles for the HTML element */
html {
    font-size: 62.5%; 
    overflow-x: hidden; /* Hides horizontal scrollbar */
    scroll-behavior: smooth; /* Smooth scrolling */
    scroll-padding-top: 9rem; /* Adds padding to top of page when scrolling */
}

/* Apply some styles to the #homeimg element */
#homeimg {
    width: 100%;
    height: 100vh;
    background: url(img/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Apply some styles to all section elements */
section {
    padding: 8rem 7%;
}

/* Apply some styles to the nav element */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    margin-bottom: 13rem;
}

/* Apply some styles to the logo element */
.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

/* Apply some styles to the logo span element */
.logo span {
    color: var(--bg);
}

/* Apply som styles to logo when being hovered */
.logo:hover {
    color: var(--black);
    background-color: var(--white);
    font-size: 4rem;
    border-radius: 0.2em;
    transition: all linear 0.6s;
}

/* Apply some styles to the nav links */
nav .links a {
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
}

/* Apply some styles to the nav links after being hovered */
nav .links a:after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--bg);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s;
}

/* Apply some styles to the nav links after being hovered */
nav .links a:hover::after {
    width: 100%;
}

/* Apply some styles to the menu button and close button */
nav #menu-btn,
nav #close {
    color: var(--white);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

/* Apply some styles to the .header .content element */
.header .content {
    padding: 150px 7%;
    color: var(--white);
}

/* Apply some styles to the .header .content h3 element */
.header .content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3rem 0;
}

/* The following styles apply to the h1 element inside a content element within a header element */
.header .content h1 {
    font-size: 4.5rem; 
    letter-spacing: 2px; 
}

/* The following styles apply to the p element inside a content element within a header element */
.header .content p {
    font-size: 1.3rem; 
    line-height: 1.8;; 
    padding: 2rem 0; 
}

/* The following styles apply to elements with the class 'btn' */
.btn {
    padding: 1.3rem 5rem; 
    margin: 3rem 0; 
    cursor: pointer; /* Change cursor to pointer */
    color: var(--black); 
    background: var(--white);
    font-size: 1.4rem; 
    font-weight: 500; 
    border-radius: 7px; 
    transition: all linear 0.5s; /* Add transition for all properties with linear timing function over a duration of 0.5s */
}

/* The following styles apply when hovering over an element with the class 'btn' */
.btn:hover {
    background: var(--black); 
    color: var(--white); 
    font-size: 2rem;
    transform: translate(0px, -3px); /* Move the element 3px up using translate() transform */
}

.shop-btn {
   display: flex;
margin-left: auto;
margin-right: auto;
border: none;
box-shadow: 0px 0px 10px 0px rgb(195, 193, 193); /* Add box-shadow */
}

/* Applies to elements with the class 'nav-change' */
.nav-change {
    background: rgba(0, 0, 0, 0.9); 
}

/* Applies to elements with the class 'container' inside an element with the class 'about' */
.about .container {
    display: flex; 
    justify-content: space-between; 
    padding-top: 8%; 
}

/* The following styles apply to elements with the class 'image' inside an element with the class 'container' inside an element with the class 'about' */
.about .container .image {
    flex-basis: 50%; 
    background: url(./img/about.jpeg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 16rem 0; 
    border-radius: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 0px 10px 0px rgb(195, 193, 193); /* Add box-shadow */
}


/* This applies to the "about" section */
.about .container .about-content {
    flex-basis: 40%; /* sets the width of the content container to 40% of the parent container */
}

.about .container .about-content h1 {
    font-size: 4rem; 
    color: var(--font-heading); 
    padding: 1rem 0; /* adds 1rem of padding to the top and bottom of the h1 element */
}

.about .container .about-content h3 {
    color: var(--black); 
    font-size: 1.3rem; 
    font-weight: 600; 
    letter-spacing: 1px; 
    padding: 1rem 0; 
}

.about .container .about-content p {
    font-size: 1.4rem; 
    font-weight: 300; 
    color: var(--black); 
    line-height: 1.5; 
}


/* This applies to the main heading */
.heading {
    font-size: 5rem; 
    text-align: center; 
}

.heading span {
    color: var(--font-heading); /* sets the color of the span element to the value of the CSS variable "--font-heading" */
}

/* This applies to the heading description */
.heading-description {
    text-align: center; 
    padding: 1.3rem 0; 
    font-size: 1.6rem; 
    font-weight: 300; 
}


/* Sets padding for product section */
.product{
    padding-top: 15%;
}

/* Grid layout for product section */
.product .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
    grid-row-gap: 4rem;
}

/* Styles for product box */
.product .container .product-box {
    background: var(--white);
    height: auto;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
    padding-bottom: 3rem;
    border-radius: 10px;
}

/* Styles for product image */
.product .container .product-box img {
    width: 100%;
    height: 65%;
    border-radius: 10px;
}

/* Styles for product content */
.product .container .product-box .product-content {
    padding: 1.5rem;
}

/* Styles for product title */
.product .container .product-box .product-content h3 {
    font-size: 2.5rem;
    padding: 1.3rem 0;
}

/* Styles for product description */
.product .container .product-box .product-content p {
    font-size: 1.6rem;
    padding: 1.3rem 0;
    font-weight: 400;
    color: var(--black);
}

/* Styles for product box on hover */
.product .container .product-box:hover {
    transform: translateY(-1rem);
}

/* Grid layout for contact section */
.contact .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}

/* Styles for contact box */
.contact .container .contact-box {
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
    background: var(--black);
    color: var(--white);
    box-shadow: 5px 5px 10px rgba(179, 179, 179, 0.2);
}

/* Styles for contact box div */
.contact .container .contact-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

/* Styles for contact box icon */
.contact .container .contact-box div i {
    width: 4rem;
    height: 4rem;
    background: var(--bg);
    color: var(--white);
    text-align: center;
    font-size: 1.3rem;
    line-height: 4rem;
    border-radius: 100%;
}

/* Styles for contact box title */
.contact .container .contact-box div h2 {
    font-size: 1.8rem;
}

/* Styles for contact box subtitle */
.contact .container .contact-box div h2 span {
    font-weight: 300;
}

/* Styles for contact box description */
.contact .container .contact-box div p {
    font-size: 1.5rem;
}

/* This styles the contact box when hovered over */
.contact .container .contact-box:hover {
    background: var(--white);
    color: var(--black);
}

/* This styles the footer */
.footer {
    background-color: #131313;
    color: white;
    padding: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 18rem;
    }

/* This styles the container inside the footer */
.footer .container {
    display: flex; /* use flexbox to center the footer-box elements */
    justify-content: center;
    flex-wrap: wrap; /* wrap the footer-box elements onto the next row if needed */
  }

/* This styles each box within the footer container */
.footer .container .footer-box {
    width: 30%; /* set the width of each footer-box element */
    margin: 1rem; /* add margin around each footer-box element */
    text-align: center; /* center the content of each footer-box element */
}

/* This styles the heading within each footer box */
.footer .container .footer-box h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* This styles the text within each footer box */
.footer .container .footer-box p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* This styles the input field within the footer form */
.footer .container .footer-box form{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    max-width: 500px; /* set a maximum width for the form element */
    width: 60%; /* set the width of the form element to 100% of its parent container */
    margin-left: auto;
    margin-right: auto;
}

.footer .container .footer-box input{
    flex: 1; /* set the input element to take up remaining space */
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
}


/* This styles the link within the footer text */
.footer .container .footer-box p a {
    color: var(--bg);
}

/* This styles the button within the footer form */
.footer .container .footer-box button {
    background-color: var(--bg);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.footer .container .footer-box div a {
    margin: 1.5rem;
    color: var(--white);
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 3rem;
}

#copyright{ 
  color: var(--white);
  font-size: 1.7rem;
  text-decoration: none; /* Underline not display */
}

#copyright:hover{ 
    color: var(--black);
    background: var(--white);
    border-radius: 5px;
    font-size: 2rem;
    text-decoration: none; /* Underline not display */
  }

/* This applies styles when the screen is smaller than 991px wide*/
@media only screen and (max-width: 991px) {
    html {
        font-size: 55%; 
    }

    nav {
        padding: 3rem 3rem;
    }

    .content {
        text-align: center;
    }
    .product{
        padding-top: 30%;
    }
}

/* This applies styles when the screen is smaller than 768px wide */
@media only screen and (max-width: 768px) {

    /* This displays the menu button in the navigation bar */
    nav #menu-btn {
        display: inline-block;
    }

    /* This displays the links in a drop-down menu when the menu button is clicked */
    nav .links {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #eee;
        transition: 0.5s;
        background: black;
    }

    /* This styles the links within the drop-down menu */
    nav .links a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white);
        text-align: center;
    }

    /* This adjusts the layout of the container within the "about" section for smaller screens */
    /* Sets the flex-direction of the container to column and adds padding to the top of the container*/
    .about .container {
        flex-direction: column;
        padding-top: 10%;
    }
    
    /* Centers the content within the container */
    .about .container .about-content {
        text-align: center;
    }
    
    /* Adds padding to the top of the product element*/
    .product {
        padding-top: 35%;
    }
    
    /* Sets the height of the homeimg element to the full viewport height*/
    #homeimg {
        height: 100vh;
    }
}